<app-header>

</app-header>



<div class="d-flex">
<aside class="sidebar">
            <h5>مرحباً أستاذ/ة محمد أحمد</h5>
            <ul class="mt-5">
                <li><a href="/ameen1">المخزن</a></li>
                <li class="active"><a >دفتر اليومية</a></li>
                <li><a href="/ameen3">أذونات الصرف</a></li>
                <li><a href="/ameen4">دفاتر اليومية</a></li>

            </ul>
        </aside>



<form [formGroup]="inventoryLogForm" (ngSubmit)="onSubmit()" dir="rtl">

    <div class="log-container">

        <header class="log-header text-center">
            <h2 class="text-center">يومية المخزن</h2>

        </header>
<div class="mb-4">
    <label for="assetTypeSelect" class="form-label d-block text-end">مخزن</label>
    <select id="assetTypeSelect" formControlName="assetType" class="form-select text-end">
        <option value="" disabled selected>اختر نوع المخزن</option>

<option *ngFor="let type of assetTypes" [value]="type">{{ type }}</option>

    </select>
</div>

        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>التاريخ</th>

                        <th>وارد من / منصرف إلى</th>
                        <th>قيمة الأصناف المضافة</th>
                        <th>قيمة الأصناف المنصرفة</th>

                    </tr>
                </thead>

                <tbody formArrayName="tableData">
                    @for (rowGroup of tableData.controls; track $index) {
                        <tr [formGroupName]="$index">
                            <td><input type="text" formControlName="date" class="table-input"></td>

                            <td><input type="text" formControlName="sourceOrDestination" class="table-input wide-col"></td>
                            <td><input type="text" formControlName="addedValue" class="table-input"></td>
                            <td><input type="text" formControlName="issuedValue" class="table-input"></td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="row-controls">
                <button type="button" class="remove-row-button" (click)="removeRow()">-</button>
                <button type="button" class="add-row-button" (click)="addRow()">+</button>
            </div>
        </div>

        <div class="button-section">
            <button type="submit" [disabled]="isSubmitting() || inventoryLogForm.invalid" class="submit-btn mt-5">
                @if (isSubmitting()) {
                    جاري الحفظ...
                } @else {
                    حفظ البيانات
                }
            </button>
        </div>
    </div>
</form>


</div>



<app-footer>
</app-footer>


