a{
  text-decoration: none;
  color:var(--black-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/*  PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR  */
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 25px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}

.sidebar li  a:hover {
  color:var(--secondary-color);
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
    cursor:default;
}



/***********************************************/



/* Main Container and Header */
.log-container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.log-header {

    align-items: center;
    margin-bottom: 20px;
}
.log-header h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
.storehouse-field {
    display: flex;
    align-items: center;
}
.storehouse-field label {
    font-weight: bold;
    margin-left: 10px;
    white-space: nowrap;
}
.storehouse-field .input-line {
    border: 1px solid #000;
    height: 30px;
    padding: 0 5px;
    width: 150px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* Table Section and Positioning */
.table-section {
    position: relative;
    margin-top: 20px;
    padding-bottom: 30px;
}
.table-section table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    table-layout: fixed;
}
.table-section th {
    padding: 8px 5px;
    border: 1px solid #000;
    text-align: center;
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 0.9em;
}

/* Adjusting Column Widths based on content */
.table-section th:nth-child(1), /* التاريخ */
.table-section th:nth-child(2), /* رقم الإذن */
.table-section th:nth-child(4), /* قيمة الأصناف المضافة */
.table-section th:nth-child(5) { /* قيمة الأصناف المنصرفة */
    width: 12%;
}
.table-section th:nth-child(3), /* وارد من / منصرف إلى */
.table-section th:nth-child(6) { /* ملاحظات */
    width: 26%; /* Wider columns */
}


/* Input and Cell Styles */
.table-section td {
    padding: 2px;
    border: 1px solid #000;
    text-align: center;
    height: 45px;
}
.table-input {
    width: 100%;
    height: calc(100% - 4px);
    border: 1px solid #999;
    background-color: white;
    padding: 2px 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
}
.table-input:focus {
    outline: none;
    border-color: var(--primary-color);
}

