<app-header>

</app-header>


<div class="content d-flex flex-row">



  <aside class="sidebar">
            <h5>مرحباً بك </h5>
            <ul class="mt-5">

                <li><a href="/employee_ma5azen1">دفتر المالية</a></li>
                <li class="active"><a>كاتب الشطب</a></li>
                <li><a href="/employee_ma5azen3" >المخزن</a></li>
                <li><a href="/employee_ma5azen4">مخزن الأمين</a></li>

            </ul>
        </aside>
<div class="ledger-box  m-auto mt-5">
            <table>
                <thead>
                    <tr>
                        <th>رقم الإضافة</th>
                        <th>اسم الصنف</th>
                        <th>الوحدة</th>
                        <th>الكمية</th>
                        <th>سعر الوحدة</th>
                        <th>القيمة</th>
                        <th>حالة الصنف</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                </tbody>
            </table>
        </div>












</div>




<app-footer>

</app-footer>
