<app-header>

</app-header>


<div class="content d-flex flex-row">



  <aside class="sidebar">
            <h5>مرحباً أستاذ/ة محمد أحمد</h5>
            <ul class="mt-5">

                <li><a href="/employee_ma5azen1">دفتر المالية</a></li>
                <li class="active"><a>كاتب الشطب</a></li>
                <li><a href="/employee_ma5azen3" >المخزن</a></li>
                <li><a href="/employee_ma5azen4">مخزن الأمين</a></li>

            </ul>
        </aside>













</div>




<app-footer>

</app-footer>
