<app-header>

</app-header>




<div class="content d-flex flex-row">

<div class="side-bar mt-5 mb-5 ms-5">

  <div class="side-element1 border-bottom border-2 py-3 px-1">

    <a class="fs-4 me-3 fw-medium">المخزن</a>

  </div>

    <div class="side-element-r border-bottom border-2 py-3 px-1">

    <a href="/ameen2" class="fs-4 me-3 fw-medium">دفتر اليومية</a>

  </div>

  <div class="side-element-r border-bottom border-2 py-3 px-1">

    <a href="/ameen3" class="fs-4 me-3 fw-medium">أذونات الصرف</a>

  </div>

</div>



<form [formGroup]="simpleForm" (ngSubmit)="onSubmit()" dir="rtl" class="mt-5 mx-5">
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>الصنف</th>
                    <th>الفئة</th>
                    <th>الكود</th>
                    <th>العدد</th>
                </tr>
            </thead>

            <tbody formArrayName="tableData">
                @for (rowGroup of tableData.controls; track $index) {
                    <tr [formGroupName]="$index">
                        <td><input type="text" formControlName="item" class="table-input"></td>
                        <td><input type="text" formControlName="category" class="table-input"></td>
                        <td><input type="text" formControlName="code" class="table-input"></td>
                        <td><input type="text" formControlName="count" class="table-input"></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row-controls">
            <button type="button" class="remove-row-button" (click)="removeRow()">-</button>
            <button type="button" class="add-row-button" (click)="addRow()">+</button>
        </div>
    </div>

    <button type="submit" [disabled]="isSubmitting() || simpleForm.invalid" class="submit-btn mt-4">
        @if (isSubmitting()) {
            جاري الإرسال...
        } @else {
        حفظ البيانات
        }
    </button>
</form>



</div>

<app-footer>
</app-footer>


