<app-header>

</app-header>

<div class="content m-5">
<h5>
  مميزات النظام
</h5>

<hr>

<ul>
  <li class="fs-5">يدعم النظام إدارة وتشغيل أكثر من مخزن داخل المؤسسة في وقت واحد.</li>
  <li class="fs-5">يتيح تسجيل بيانات الموردين وربط كل مورد بالمخزن الخاص به.</li>
  <li class="fs-5">يوفر إمكانية تصنيف الأصناف إلى مجموعات محددة لتسهيل إدارتها وإجراء عمليات الإدخال أو التعديل أو البحث عليها.</li>
  <Li class="fs-5">يسمح بتتبع حركة الأصناف من حيث الإضافة والصرف مع إمكانية تعديل البيانات أو حذف الأصناف غير النشطة.</Li>
  <li class="fs-5">يسهل النظام تنفيذ أوامر الإضافة والصرف وإعداد محاضر الاستهلاك والفصل والتركيب.</li>
  <li class="fs-5">يتيح نقل العهد بين الأفراد أو الإدارات المختلفة داخل المؤسسة بسهولة ودقة.</li>
  <li class="fs-5">يحتوي على مجموعة من التقارير الشاملة التي توضح حركة الأصناف والمخزون بالتفصيل خلال فترات زمنية مختلفة.</li>
  <li class="fs-5">يوفر تقارير تحليلية عن العهد المنصرفة والمسترجعة لتقييم الأداء داخل المخازن.</li>
  <li class="fs-5">يتمتع بدرجة عالية من الأمان من خلال نظام صلاحيات يتيح لكل مستخدم كلمة مرور خاصة وصلاحيات محددة وفق مهامه.</li>
  <li class="fs-5">يمكن تشغيل النظام وإدارته من خلال شبكة الإنترنت لتسهيل الوصول إليه من أي مكان داخل الجامعة.</li>




</ul>

</div>



<app-footer>
</app-footer>


