<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المخزن</title>

    <link rel="stylesheet" href="employee-ma5azen3.component.css">
</head>

<body>


    <!-- Content Wrapper -->
    <section class="page">

        <!-- Sidebar on RIGHT -->
        <aside class="sidebar">
            <p class="username">مرحباً أستاذ/ة أحمد محمد</p>

            <ul class="menu">
                <li>دفتر المالية</li>
                <li>كاتب شطب</li>
                <li class="active">المخزن</li>
                <li>مخزن الأمين</li>
            </ul>

            <button class="save-btn">احفظ التعديلات</button>
        </aside>

        <section class="page">


    <button class="minus-btn">−</button>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>الصنف</th>
                    <th>الفئة</th>
                    <th>الكود</th>
                    <th>العدد</th>
                </tr>
            </thead>

            <tbody>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
                <tr><td><input></td><td><input></td><td><input></td><td><input></td></tr>
            </tbody>
        </table>
    </div>

    <button class="plus-btn">+</button>



</section>


    </section>



</body>
</html>
