<app-header></app-header>

<div *ngIf="statusMessage" class="modal-overlay">
  <div class="modal-box" [ngClass]="statusType">
    <div class="icon">{{ statusType === "success" ? "✅" : "❌" }}</div>
    <h3>{{ statusType === "success" ? "تمت العملية" : "تنبيه" }}</h3>
    <p>{{ statusMessage }}</p>
    <button class="confirm-btn" (click)="closeStatusMessage()">موافق</button>
  </div>
</div>

<div class="content d-flex flex-row">
  <aside class="sidebar">
    <h5>مرحبًا بك {{ displayName }}</h5>
    <ul class="mt-5">
      <li><a href="/employee_ma5azen1">دفتر المالية</a></li>
      <li><a href="/employee_ma5azen2">كاتب الشطب</a></li>
      <li class="active"><a>المخزن</a></li>
      <li><a href="/employee_ma5azen4">مخزن الأمين</a></li>
      <li><a href="/employee_ma5azen5">عرض مخزنك </a></li>
    </ul>
  </aside>

<main class="flex-grow-1 container-fluid">
      <form
      [formGroup]="simpleForm"
      (ngSubmit)="onSubmit()"
      dir="rtl"
      class="form-part mt-5"
    >
      <div class="table-section">
        <h2 class="text-center">المخزن</h2>
        <div class="table-responsive custom-scrollbar">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>الفئة</th>
                <th>الصنف</th>
                <th>حالة الصنف</th>
                <th>الوحدة</th>
                <th>العدد</th>
                <th>التاريخ</th>
              </tr>
            </thead>
            <tbody formArrayName="tableData">
              @for (rowGroup of tableData.controls; track $index; let i =
              $index) {
              <tr [formGroupName]="i">
                <td class="dropdown-cell">
                  <input
                    type="text"
                    data-label="الفئة"
                    formControlName="category"
                    class="form-control"
                    (focus)="
                      filterCategories(rowGroup.get('category')?.value, i)
                    "
                    (input)="
                      filterCategories(rowGroup.get('category')?.value, i)
                    "
                  />
                  <ul
                    *ngIf="filteredCategories[i]?.length"
                    class="floating-dropdown"
                  >
                    <li
                      class="list-group-item"
                      *ngFor="let cat of filteredCategories[i]"
                      (mousedown)="selectCategory(cat, i)"
                    >
                      {{ cat }}
                    </li>
                  </ul>
                </td>

                <td class="dropdown-cell position-relative d-flex align-items-center justify-content-between">
                  <input
                    type="text"
                    formControlName="item"
                    data-label="اسم الصنف"
                    class="form-control"
                    [placeholder]="
                      isManualItemMode[i] ? 'اكتب صنفاً جديداً...' : 'ابحث...'
                    "
                    (focus)="
                      filterAvailableItems(
                        tableData.at(i).get('item')?.value,
                        i
                      )
                    "
                    (input)="
                      filterAvailableItems(
                        tableData.at(i).get('item')?.value,
                        i
                      )
                    "
                  />

                  <span
                    *ngIf="isManualItemMode[i]"
                    class="reset-btn fw-bold me-1"
                    style="cursor:pointer ;color:red;"
                    (click)="resetManualMode(i)"
                    >↩</span
                  >

                  <ul
                    *ngIf="!isManualItemMode[i] && filteredItemsRows[i]?.length"
                    class="floating-dropdown"
                  >
                    <li
                      class="list-group-item"
                      *ngFor="let itm of filteredItemsRows[i]"
                      (mousedown)="selectItem(itm, i)"
                    >
                      {{ itm }}
                    </li>
                    <li
                      class="list-group-item"
                      class="other-option list-group-item fw-bold border-top"
                      (mousedown)="selectOtherItem(i); $event.preventDefault()"
                      style="
                        color: var(--primary-color);
                        background-color: #f0f7ff;
                      "
                    >
                     <span class="fw-bold">+</span>أخرى
                    </li>
                  </ul>
                </td>

                <td class="dropdown-cell">
                  <input
                    type="text"
                    formControlName="itemType"
                    class="form-control"
                    (focus)="filterTypes(rowGroup.get('itemType')?.value, i)"
                  />
                  <ul
                    *ngIf="filteredTypesRows[i]?.length"
                    class="floating-dropdown"
                  >
                    <li
                      class="list-group-item"
                      *ngFor="let t of filteredTypesRows[i]"
                      (mousedown)="selectType(t, i)"
                    >
                      {{ t }}
                    </li>
                  </ul>
                </td>

                <td class="dropdown-cell">
                  <input
                    type="text"
                    formControlName="unit"
                    data-label="الوحدة"
                    class="form-control"
                    (focus)="filterUnits(rowGroup.get('unit')?.value, i)"
                  />
                  <ul
                    *ngIf="filteredUnitsRows[i]?.length"
                    class="floating-dropdown"
                  >
                    <li
                      class="list-group-item"
                      *ngFor="let u of filteredUnitsRows[i]"
                      (mousedown)="selectUnit(u, i)"
                    >
                      {{ u }}
                    </li>
                  </ul>
                </td>

                <td>
                  <input
                    type="number"
                    formControlName="count"
                    class="form-control"
                  />
                </td>
                <td>
                  <input
                    type="date"
                    formControlName="entryDate"
                    class="form-control"
                  />
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="mt-3">
          <button type="button" class="remove-row-button" (click)="removeRow()">
            -
          </button>
          <button type="button" class="add-row-button" (click)="addRow()">
            +
          </button>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="isSubmitting() || simpleForm.invalid"
        class="submit-btn mt-4"
      >
        {{ isSubmitting() ? "جاري الحفظ..." : "حفظ البيانات" }}
      </button>
    </form>
  </main>
</div>
