<app-header></app-header>

<div class="content d-flex flex-row">
  <aside class="sidebar">
    <h5>
      مرحبًا بك
      <span *ngIf="displayName">، {{ displayName }}</span>
    </h5>

    <ul class="mt-5">
      <li class="active"><a>المخزن</a></li>
      <li><a href="/modeer2">اذن الصرف</a></li>
      <li><a href="/modeer3">مذكرات الصرف</a></li>
      <li><a href="/modeer4">اذونات الصرف</a></li>
      <li><a href="/modeer5">الجرد</a></li>
    </ul>
  </aside>

  <main class="content">
    <div class="table-container">
      <div class="filter-section mb-4">
        <h2
          class="mb-4 fw-bold text-center"
          style="color: var(--primary-color)"
        >
          عرض المخزن
        </h2>
        <label for="categorySelect" class="form-label">اختر الفئة:</label>
        <select
          id="categorySelect"
          class="form-select custom-select"
          [(ngModel)]="selectedCategory"
          (change)="filterByCategory()"
        >
          <option value="">الكل</option>
          <option *ngFor="let cat of categories" [value]="cat">
            {{ cat }}
          </option>
        </select>
      </div>

      <div class="table-responsive-rtl custom-scrollbar">
        <table class="custom-3d-table text-center" dir="rtl">
          <thead>
            <tr>
              <th>الفئة</th>
              <th>الصنف</th>
              <th>حالة الصنف</th>
              <th>الوحدة</th>
              <th>العدد</th>
              <!-- <th>التاريخ</th> -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of filteredStocks">
              <td>{{ item.category }}</td>
              <td>{{ item.itemName }}</td>
              <td>{{ item.storeType }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.quantity }}</td>
              <!-- <td></td> -->
            </tr>

            <tr *ngIf="filteredStocks.length === 0">
              <td colspan="5" class="no-data">لا توجد بيانات</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="text-muted d-md-none text-center mt-3 small">
      <i class="fas fa-arrows-alt-h me-1"></i> اسحب الجدول لليسار أو اليمين لمشاهدة كافة البيانات
    </p>
    </div>
  </main>
</div>
