<nav class="navbar navbar-expand-lg p-3">
  <div class="container-fluid"> <img src="assets/images/Hurghada-University.png" alt="University Logo" class="u-logo">

    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex justify-content-between">
        <li class="nav-item">
          <a class="nav-link text-white mx-2 fw-medium" href="/about" routerLinkActive="active">عن النظام</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-2 fw-medium" href="/features" routerLinkActive="active">مميزات النظام</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-2 fw-medium" href="/elda3m" routerLinkActive="active">الدعم الفني</a>
        </li>
      </ul>

      <div class="left-container d-flex align-items-center">

        <a class="nav-link logout-wrapper" href="/login5">
          <i class="ph ph-sign-out fs-3 text-danger"></i>
          <span class="custom-tooltip">هل تريد تسجيل الخروج؟</span>
        </a>
      </div>

    </div>
  </div>
</nav>
