<app-header>

</app-header>

<div class="d-flex">

<aside class="sidebar">
            <h5>مرحباً بك</h5>
            <ul class="mt-5">
                <li><a href="/ameen1">المخزن</a></li>
                <li ><a href="/ameen2">دفتر اليومية</a></li>
                <li class="active"><a >أذونات الصرف</a></li>
                <li><a href="/ameen4">دفاتر اليومية</a></li>

            </ul>
        </aside>






<form class="m-auto">
<div class="form-container" dir="rtl">

    <header class="form-header">
        <h2 class="title">طلب و إذن صرف </h2>
        <h3 class="subtitle">مستديم | مستهلك</h3>
    </header>

    <div class="info-section">

        <div class="row">
            <div class="field mb-2">
                <label>اسم الجهة :</label>
              <table><tr><td>كلية الحاسبات</td></tr></table>
            </div>
            <div class="field mb-2">
                <label>مخزن:</label>
                  <tr><td>مستهلك</td></tr>
            </div>
        </div>

        <div class="row">
              <div class="field mb-2 date-group">
                <label>تاريخ الطلب :</label>

                <tr><td>2</td></tr>


                <p class="mb-0"> / </p>

                  <tr><td>4</td></tr>
                <p class="mb-0"> / </p>

                <tr><td>3</td></tr>


            </div>

              <div class="field d-flex align-items-center mb-2 date-group">
                <label>التاريخ :</label>


                <tr><td>2</td></tr>


                <p class="mb-0"> / </p>

                  <tr><td>4</td></tr>
                <p class="mb-0"> / </p>

                <tr><td>3</td></tr>


            </div>

        </div>

        <div class="row">

            <div class="field mb-2">
                <label>اسم الطالب ( المخزن / الإدارة / العامل ) :</label>
                <tr><td>محمد أحمد</td></tr>

            </div>
        </div>

        <div class="row">
            <div class="field">
                <label>(*) سند الصرف :</label>
                <tr><td>سند العجز</td></tr>

            </div>
        </div>
    </div>

    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>اسم الصنف</th>
                    <th>الوحدة</th>
                    <th>الكمية المطلوبة</th>
                    <th>الكمية المصرح بها</th>
                    <th>الكمية المنصرفة</th>
                    <th>حالة الصنف (**)</th>
                    <th>سعر الوحدة</th>
                    <th>القيمة</th>
                </tr>
            </thead>

            <tbody >


                    <tr>

                        <td>
                                قلم أزرق
                        </td>

                        <td>مش عارفين</td>
                        <td>11</td>
                        <td>2</td>
                        <td>3</td>

                        <td>مستعمل</td>

                        <td>2</td>
                        <td>10</td>
                    </tr>

            </tbody>
        </table>


    </div>

    <div class="signature-section">
        <div>توقيع الطالب</div>
        <div>كاتب الشطب</div>

        <div class="d-flex flex-column">
            <div>يصرح بالصرف مدير المخازن</div>
            <tr><td>محمد أحمد</td></tr>

        </div>

        <div style="white-space:no-wrap">تم الصرف أمين المخازن</div>
        <div>كاتب الشطب</div>
        <div>توقيع المستلم</div>
    </div>

    <div class="footnotes">
        <p>(*) كشف العجز - سند خصم - أصناف تالفة أو تالفة - محضر بيع جلب تشغيل - إهداءات ليست للنشاط الرئيسي للجهة</p>
        <p>(**) جديدة - مستعمل - قابل للإصلاح - كهنة أو خردة</p>
    </div>

</div>
</form>

</div>

<app-footer>
</app-footer>


