<app-header></app-header>

<div class="page-container">
    <aside class="sidebar">
        <h5>
            مرحباً بك
            <span *ngIf="displayName">، {{ displayName }}</span>
        </h5>
        <ul class="mt-5">
            <li><a href="/ameen1">المخزن</a></li>
            <li><a href="/ameen2">دفتر اليومية</a></li>
            <li class="active"><a>أذونات الصرف</a></li>
            <li><a href="/ameen4">دفاتر اليومية</a></li>
            <li><a href="/ameen5">مخزنك</a></li>
        </ul>
    </aside>
  <div class="big-container flex-grow-1 p-4">
    <div class="form-container mb-5">

      <header class="form-header">
        <h2 class="title">طلب و إذن صرف</h2>
        <h3 class="subtitle">مستديم | مستهلك</h3>
      </header>

      <div class="info-section">
        <div class="row">
          <div class="field"><label>اسم الجهة :</label><span></span></div>
          <div class="field"><label>الفئة :</label><span></span></div>
        </div>

        <div class="row">
          <div class="field"><label>تاريخ الطلب :</label><span></span></div>
          <div class="field"><label>التاريخ :</label><span></span></div>
        </div>

        <div class="row">
          <div class="field"><label>اسم الطالب :</label><span></span></div>
        </div>

        <div class="row">
          <div class="field"><label>(*) سند الصرف :</label><span></span></div>
        </div>
      </div>

      <div class="table-section">
        <table>
          <thead>
            <tr>
              <th>اسم الصنف</th>
              <th>الوحدة</th>
              <th>الكمية المطلوبة</th>
              <th>الكمية المصرح بها</th>
              <th>الكمية المنصرفة</th>
              <th>المخزن</th>
              <th>حالة الصنف</th>
              <th>سعر الوحدة</th>
              <th>القيمة</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="signature-section">
        <div>توقيع الطالب</div>
        <div>كاتب الشطب</div>
        <div>
            يصرح بالصرف مدير المخازن:
            <span class="d-block mt-2 border-bottom border-dark pb-1"></span>
        </div>
        <div>تم الصرف أمين المخازن</div>
        <div>كاتب الشطب</div>
        <div>توقيع المستلم</div>


      </div>

    </div>

          <div class="d-flex my-4 justify-content-center gap-3">
            <button type="button" class="btn btn-success px-4">قبول الصرف</button>
            <button type="button" class="btn btn-secondary px-4">يتم مراجعة الصرف</button>
            <button type="button" class="btn btn-danger px-4">رفض الصرف</button>
        </div>

  </div>
</div>

<app-footer></app-footer>




