<app-header></app-header>

<div class="content d-flex flex-row">
  <aside class="sidebar">
    <h5>
  مرحبًا بك
      <span *ngIf="displayName">، {{ displayName }}</span>
    </h5>

    <ul class="mt-5">
      <li><a href="/modeer1">المخزن</a></li>
      <li><a href="/modeer2">اذن الصرف</a></li>
      <li><a href="/modeer3">مذكرات الصرف</a></li>
      <li class="active"><a>اذونات الصرف</a></li>
      <li><a href="/modeer5">الجرد</a></li>
    </ul>
  </aside>

  <div class="big-container flex-grow-1 p-4">
    <ng-container *ngIf="groupedPermissions && groupedPermissions.length > 0; else noData">
    <div *ngFor="let perm of groupedPermissions" class="form-container mb-5">

      <header class="form-header">
        <h2 class="title">طلب و إذن صرف</h2>
        <h3 class="subtitle">مستديم | مستهلك</h3>
      </header>

      <div class="info-section">
        <div class="row">
          <div class="field"><label>اسم الجهة :</label><span>{{ perm.destinationName }}</span></div>
          <div class="field"><label>الفئة :</label><span>{{ perm.category }}</span></div>
        </div>

        <div class="row">
          <div class="field"><label>تاريخ الطلب :</label><span>{{ perm.requestDate | date:'MM/dd/yyyy' }}</span></div>
          <div class="field"><label>التاريخ :</label><span>{{ perm.documentDate | date:'MM/dd/yyyy' }}</span></div>
        </div>

        <div class="row">
          <div class="field"><label>اسم الطالب :</label><span>{{ perm.requestorName }}</span></div>
        </div>

        <div class="row">
          <div class="field"><label>(*) سند الصرف :</label><span>{{ perm.DocumentNumber }}</span></div>
        </div>
      </div>

      <div class="table-section custom-scrollbar">
        <table>
          <thead>
            <tr>
              <th>اسم الصنف</th>
              <th>الوحدة</th>
              <th>الكمية المطلوبة</th>
              <th>الكمية المصرح بها</th>
              <th>الكمية المنصرفة</th>
              <th>المخزن</th>
              <th>حالة الصنف</th>
              <th>سعر الوحدة</th>
              <th>القيمة</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of perm.items">
              <td>{{ item.itemName }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.requestedQuantity }}</td>
              <td>{{ item.approvedQuantity }}</td>
              <td>{{ item.issuedQuantity }}</td>
              <td>{{ item.storeHouse }}</td>
              <td>{{ item.stockStatus }}</td>
              <td>{{ item.unitPrice }}</td>
              <td>{{ item.totalValue }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="signature-section">
        <div>توقيع الطالب</div>
      
        <div>
            يصرح بالصرف مدير المخازن:
            <span class="d-block mt-2 border-bottom border-dotted border-dark pb-1">{{ perm.ManagerSignature }}</span>
        </div>
        <div>تم الصرف أمين المخازن</div>
        <div>كاتب الشطب</div>
        <div>توقيع المستلم</div>
      </div>
    </div>

    </ng-container>


<ng-template #noData>
  <div class="no-data-wrapper">
    <div class="text-center">
      <i class="fas fa-clipboard-list d-block mb-3 empty-icon m-auto"></i>

      <p class="fw-bold fs-4 text-muted m-0">
        لا توجد أذونات صرف حاليا.
      </p>

    </div>
  </div>
</ng-template>
  </div>
</div>

