a{
  text-decoration: none;
  color:var(--black-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/*  PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR  */
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 25px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}

.sidebar li  a:hover {
  color:var(--secondary-color);
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
    cursor:default;
}

/****************/

/*  MAIN CONTENT  */
.content {
    flex: 1;
    padding: 30px;
}

.paper {
    background: white;
    padding: 40px;
    border: 1px solid #ccc;
    width: 70%;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}


.paper-logo {
    width: 70px;
    float: right;
    margin-bottom: 10px;
}



.paper-box {
    border: 1px solid #000;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

.paper-box .mt {
    margin-top: 25px;
}

.signatures {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 10%;
    height: 20px;
    font-size: 15px;
}

input[type="text"] {
  width: 20%;
  height: 20px;
  font-size: 15px;
}

.signatures input {
  width: 90%;
    height: 25px;
    padding: 4px 6px;
    font-size: 13px;
    box-sizing: border-box;

}

.college-select {
    width: 90%;
    height: 25px;
    font-size: 13px;
    border: 1px solid #444;
    border-radius: 4px;
    text-align: right;
}

