<app-header>

</app-header>







    <div class="page-container">

        <!-- ======= Sidebar ======= -->
        <aside class="sidebar">
            <h5>مرحباً أستاذ/ة محمد أحمد</h5>
            <ul class="mt-5">
                <li class="active"><a>مذكرة الصرف</a></li>
                <li><a href="/employee2">العهد</a></li>
            </ul>
        </aside>

        <!-- ======= Main Content ======= -->
        <main class="content">
            <div class="paper">
              <div class="d-flex justify-content-center align-items-center">
              <img src="assets/images/Hurghada-University.png" class="paper-logo" alt="logo">
                <h2 class="title m-auto">مكتب أمين الكلية</h2>
                </div>

                <div class="paper-box">

                    <p>السيد الأستاذ/ أمين عام الجامعة المساعد</p>
                    <p>تحية طيبة وبعد،،،</p>

                    <p class="mt">الرجاء من سيادتكم بالموافقة على صرف عدد
                      <input type="number" min="0">
                      <input type="text">
                    </p>
                    <br>
                    <p>وتفضلوا سيادتكم بقبول فائق التقدير و الاحترام،،،</p>

                    <div class="signatures">
                        <div>
                            <strong>توقيع الموظف</strong><br>
                           <input type="text">
                        </div>
                        <div>
                          <strong>الكلية</strong><br>
                          <select class="college-select">
                            <option value="">اختر الكلية</option>
                            <option value="computers">الحاسبات والذكاء الاصطناعى</option>
                             <option value="languages">الألسن</option>
                             <option value="education">التربية</option>
                              <option value="tourism">السياحة والفنادق</option>
                              </select>

                        </div>
                        <div>
                          <strong>تاريخ الطلب</strong><br>
                          <input type="date">

                        </div>

                        <div>
                            <strong>أمين الكلية</strong><br>
                             أبو السعود الحبيشي

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>





<app-footer>
</app-footer>
