body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    background: #f5f5f5;
}



/*  PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR  */
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 25px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
}

/*  MAIN CONTENT  */
.content {
    flex: 1;
    padding: 30px;
}

.paper {
    background: white;
    padding: 40px;
    border: 1px solid #ccc;
    width: 70%;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}


.paper-logo {
    width: 70px;
    float: right;
    margin-bottom: 10px;
}



.paper-box {
    border: 1px solid #000;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

.paper-box .mt {
    margin-top: 25px;
}

.signatures {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


