<app-header>
</app-header>


<div class="label text-center mt-3">

<h4 class="text-warning">
  نظام الأمين
</h4>
<h5>
  لادارة المخازن و العهد
</h5>
<h5>
  Stores E-Management System
</h5>

</div>

<div class="content mt-4 fs-5 mx-5">
  <p>يهدف النظام إلى متابعة حركة الأصناف داخل المخازن وتسجيل جميع العمليات المرتبطة بها مثل الإضافة، الصرف، الإرجاع، التكييف، النقل، والتركيب، وذلك من خلال شبكة الجامعة بشكل دقيق ومنظم.</p>

  <h5>المهام الأساسية التي يقوم بها النظام:</h5>
  <ul>
    <li>يتيح النظام إمكانية إدارة أكثر من مخزن واحد داخل المؤسسة.</li>
    <li>يمكن من خلاله إدخال بيانات عدة موردين وربطهم بكل مخزن على حدة.</li>
    <li>يدعم النظام تقسيم الأصناف إلى مجموعات لتسهيل إدارتها والتعامل معها من حيث الإدخال، التعديل، أو البحث.</li>
    <li>يمكن حذف أو تعديل بيانات الأصناف غير النشطة أو التي لا توجد لها حركة صرف أو إضافة.</li>
    <li>يتابع النظام حركة المخزون بشكل مستمر من حيث الإضافة والصرف.</li>
    <li>يتيح إعداد محاضر الاستهلاك والفصل والتركيب.</li>
    <li>يسهل عملية إرجاع العهد ونقلها بين الأفراد أو الأقسام المختلفة داخل المؤسسة.</li>

    <li>يوفر مجموعة من التقارير الشاملة التي توضح حركة الأصناف والمخزون خلال العام، وتشمل:
      <ul>
        <li class="me-5">التقارير التفصيلية الخاصة بحركة الأصناف.</li>
        <li class="me-5">التقارير الخاصة بالمخزون الإجمالي والمفصل خلال أي فترة زمنية.</li>
        <li class="me-5">تقارير العهد المنقولة أو المستهلكة بين الأشخاص والأماكن داخل المؤسسة.</li>
        <li class="me-5">يدعم النظام صلاحيات متعددة للمستخدمين، بحيث يمتلك كل مستخدم كلمة مرور خاصة وصلاحيات محددة وفقًا لمهامه.</li>
        <li class="me-5">يمكن تشغيل النظام من خلال شبكة الإنترنت لسهولة الوصول والمتابعة في أي وقت.</li>
      </ul>
    </li>
  </ul>
</div>

<app-footer>

</app-footer>
