a{
  text-decoration: none;
  color:var(--black-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/*  PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR  */
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 25px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}

.sidebar li  a:hover {
  color:var(--secondary-color);
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
    cursor:default;
}


/***********************************************/




.table-responsive-rtl {
      overflow-x: auto;
}

.table-bordered th,
.table-bordered td {
    border-color: #dee2e6 !important;
}
