.body{
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;

}

.page {
   display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    gap: 40px;
    align-items: flex-start;
}

.sidebar {
   width: 260px;
    background: white;
    padding: 20px;
     border-left: 1px solid #ddd;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);

}

.username {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;

}

.sidebar ul li {
  padding: 15px 0;
  font-size: 17px;
  border-bottom: 1px  solid #ccc;
  cursor: pointer;
}

.sidebar ul li.active {
  color: #0a3a63;
  border-left: 3px solid #0a3a63;
}


.main-contant {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.table-section {
  width: 65%;
  position: relative;


}

table {
  width: 750px;
  border-collapse:collapse;
   background: white;

}

table th,table td {
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

table input {
  width: 90%;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 6px;
}


