
    <div class="sidebar">

        <p class="username">مرحبا أستاذ/ة أحمد محمد</p>

        <ul>
          <li>دفتر مالية</li>
          <li>كاتب شطب</li>
          <li>المخزن</li>
          <li class="active">مخزن الأمين</li>
        </ul>
      </div>

    <section class="page">

      <div class="table-section">

        <table>
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>الفئة</th>
              <th>الصنف</th>
              <th>العدد</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>



    </section>
