a{
  text-decoration: none;
  color:var(--black-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/*  PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR  */
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 25px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}

.sidebar li  a:hover {
  color:var(--secondary-color);
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
    cursor:default;
}
/**********************/

.main-contant {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.table-section {
  width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;

}

table th,table td {
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

table th {
  background-color: #f0f0f0;
    font-weight: bold;
}

table input {
  width: 90%;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 6px;
}
