<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المخزن</title>

    <link rel="stylesheet" herf="employee-ma5azen4.component.css">

  </head>

  <body>
    <section class="page">

      <div class="table-section">

        <table>
          <thead>
            <tr>
              <th>الصنف</th>
              <th>الفئة</th>
              <th>الكود</th>
              <th>العدد</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>

            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>

          </tbody>
        </table>
      </div>


      <div class="sidebar">

        <p class="username">مرحبا أستاذ/ة أحمد محمد</p>

        <ul>
          <li>دفتر مالية</li>
          <li>كاتب شطب</li>
          <li>المخزن</li>
          <li class="active">مخزن الأمين</li>
        </ul>
      </div>
    </section>
  </body>
</html>
