<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عرض العهد</title>
    <link rel="stylesheet" href="employee2.component.css">
</head>
<body>

    <div class="page-container">


        <aside class="sidebar">
            <h3>مرحباً أ/ محمد أحمد</h3>
            <ul>
                <li>مذكرة الصرف</li>
                <li class="active">العهد</li>
            </ul>
        </aside>


        <main class="content">

            <div class="table-wrapper">

                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>الصنف</th>
                            <th>تاريخ الاستلام</th>
                            <th>رقم الفاتورة</th>
                            <th>الكمية</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>دباسة</td>
                            <td>2/11/2025</td>
                            <td>#12900</td>
                            <td>2</td>
                        </tr>

                         <tr>
                          <td>أوراق تصوير</td>
                          <td>3/11/2025</td>
                           <td>#55001</td>
                           <td>10</td>
                        </tr>

                        <!-- صف جديد -->
                        <tr>
                         <td>أقلام</td>
                          <td>5/11/2025</td>
                          <td>#88002</td>
                          <td>20</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </main>

    </div>



</body>
</html>

