body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    background: #f5f5f5;
}


/* PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    padding: 20px;
    background: white;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 12px 5px;
    border-bottom: 1px solid #ddd;
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 40px;
}


.table-wrapper {
    width: 60%;
    margin: auto;
    background: white;
    padding: 25px;
    border: 1px solid #aaa;
}

/* TABLE STYLE */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
}

.styled-table th,
.styled-table td {
    padding: 10px;
    border: 1px solid #000;
}

.styled-table th {
    background: #f1f1f1;
    font-weight: bold;
}


