<app-header></app-header>

<div class="content d-flex flex-row">
  <aside class="sidebar">
    <h5>
      مرحبًا بك
      <span *ngIf="displayName">، {{ displayName }}</span>
    </h5>
    <ul class="mt-5">
      <li><a href="/employee1">مذكرة الصرف</a></li>
      <li class="active">العهد</li>
      <li><a href="/employee3">استعلم عن مذكراتك</a></li>
    </ul>
  </aside>

  <main class="content">
    <div class="table-container" *ngIf="spendPermissions.length > 0; else noData">
      <div class="table-responsive">
      <table class="custom-3d-table">
        <thead>
          <tr>
            <th>الصنف</th>
            <th>تاريخ الاستلام</th>
            <th>الكمية</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sp of spendPermissions">
            <td>{{ sp.itemName }}</td>
            <td>{{ sp.issueDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ sp.issuedQuantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

<ng-template #noData>
  <div class="no-data-wrapper">
    <div class="text-center">
      <i class="fas fa-box-open d-block mb-3 empty-icon m-auto"></i>
      <p class="m-auto fw-bold fs-4 text-muted">لا توجد عهد متاحة حالياً.</p>
    </div>
  </div>
</ng-template>
  </main>

</div>


