<app-header>

</app-header>


<div class="content d-flex flex-row">

      <aside class="sidebar">
            <h5>مرحباً أستاذ/ة محمد أحمد</h5>
            <ul class="mt-5">

                <li class="active"><a>دفتر المالية</a></li>
                <li><a href="/employee_ma5azen2">كاتب الشطب</a></li>
                <li><a href="employee_ma5azen3">المخزن</a></li>
                <li><a href="/employee_ma5azen4">مخزن الأمين</a></li>

            </ul>
        </aside>

        <div class="table-wrapper mt-5 mx-5">
          <table>
      <thead>
        <tr>
          <th>رقم الإضافة</th>
          <th>اسم الصنف</th>
          <th>الوحدة</th>
          <th>الكمية</th>
          <th>سعر الوحدة</th>
          <th>القيمة</th>
          <th>حالة الصنف</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>

        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>

        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>

        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>

        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>

        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>

        <tr>
          <td><input type="number"></td>
          <td><input type="text"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td><input type="number"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>
         <tr>
          <td><input type="number"min="0"></td>
          <td><input type="text"></td>
          <td><input type="number" min="0"></td>
          <td><input type="number" min="0"></td>
          <td><input type="number" min="0"></td>
          <td><input type="number" min="0"></td>
          <td>
            <select class="ledger-select">
    <option value="">اختر</option>
    <option value="consumable">مستهلك</option>
    <option value="durable">مستديم</option>
</select>

          </td>
        </tr>
      </tbody>
    </table>


        </div>

      </div>

<app-footer>

</app-footer>
