a{
  text-decoration: none;
  color:var(--black-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/*  PAGE LAYOUT */
.page-container {
    display: flex;
}

/* SIDEBAR  */
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 25px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}

.sidebar li  a:hover {
  color:var(--secondary-color);
}

.sidebar li.active {
    color: #0a3a63;
    font-weight: bold;
    border-left: 4px solid #0a3a63;
    cursor:default;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid #333;
    padding: 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.ledger-select {
    width: 100%;
    height: 40px;
    border: 1px solid #444;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}
