

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px 0;


}

.btn {
    background: var(--secondary-color);
    color: white;
    padding: 6px 20px;
    width: fit-content;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: default;
    font-size: 15px;
    display:block;

}



.container h2 {
    font-size: 24px;
    text-align: center;
}

.info-text {
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.contact-info .email,
.contact-info .phone {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.contact-info {
  text-align: right;

}


.form-box {
    background: white;
    width: 70%;
    margin-top: 20px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

input, select {
    width: 48%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    direction: rtl;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.btn-main {
    background: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}

.btn-main:hover{
  background: var(--secondary-color);



}




