<div class="home-page-container p-4">
  <img class="u-logo" src="assets/images/Hurghada-University.png">


  <div class="content d-flex flex-column mx-auto mt-5">
    <p class="text-white fs-1 fw-semibold">
      مرحبا بكم في<span class="label"> نظام المخازن و العهد</span><br>
      جامعة الغردقة.
    </p>

<div class="button mt-3">
      <a (click)="goToLogin(); $event.preventDefault()"
         class="btn text-white fw-medium p-3 fs-5"
         role="button"
         href="/login5">
         سجل الدخول
      </a>
    </div>
  </div>







  <div class="social-icons d-flex flex-column align-items-end mt-5">

    <a href=""><img src="assets/images/logos_facebook.png"></a>
    <a href=""><img class="mt-4" src="assets/images/logos_whatsapp-icon.png"></a>

  </div>

</div>
