<app-header></app-header>

<div class="content d-flex flex-row">
  <aside class="sidebar">
    <h5>
  مرحبًا بك
      <span *ngIf="displayName">، {{ displayName }}</span>
    </h5>
    <ul class="mt-5">
      <li><a href="/employee_ma5azen1">دفتر المالية</a></li>
      <li><a href="/employee_ma5azen2">كاتب الشطب</a></li>
      <li><a href="/employee_ma5azen3">المخزن</a></li>
      <li><a href="/employee_ma5azen4">مخزن الأمين</a></li>
      <li class="active"><a> مخزنك </a></li>
    </ul>
  </aside>

  <main class="flex-grow-1">
    <div class="table-container-3d text-center" dir="rtl">
      <h2>عرض المخزن الخاص بك</h2>

      <div class="table-responsive custom-scrollbar">
        <table class="custom-table text-center">
          <thead>
            <tr>
              <th>الفئة</th>
              <th>الصنف</th>
              <th>حالة الصنف</th>
              <th>الوحدة</th>
              <th>العدد</th>
              <th>التاريخ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>أجهزة تقنية</td>
              <td>شاشة 24 بوصة</td>
              <td>مستديم</td>
              <td>عدد</td>
              <td>2</td>
              <td>3/2/2026</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
