<app-header></app-header>



<div *ngIf="statusMessage" class="status-overlay">
  <div class="status-box" [ngClass]="statusType">

    <div class="mb-3" style="font-size: 4rem;">
       {{ statusType === 'success' ? '✅' : '❌' }}
    </div>

    <h3 class="fw-bold mb-3" [style.color]="statusType === 'success' ? '#28a745' : '#dc3545'">
       {{ statusType === 'success' ? 'تمت العملية' : 'تنبيه' }}
    </h3>

    <p class="fs-5 text-dark">
      {{ statusMessage }}
    </p>

    <button class="close-btn" (click)="closeStatusMessage()">موافق</button>
  </div>
</div>

<div class="page-container">
  <aside class="sidebar">
    <h5>
  مرحبًا بك
      <span *ngIf="displayName">، {{ displayName }}</span>
    </h5>
    <ul class="mt-5">
      <li><a href="/modeer1">المخزن</a></li>
      <li class="active"><a>اذن الصرف</a></li>
      <li><a href="/modeer3">مذكرات الصرف</a></li>
      <li><a href="/modeer4">اذونات الصرف</a></li>
      <li><a href="/modeer5">الجرد</a></li>
    </ul>
  </aside>

  <main class="forms-container m-auto">
  
    <!--  لو مفيش أذونات -->
    <div *ngIf="consumableForms.length === 0" class="no-data-message">
      لا يوجد أذونات حالية
    </div>
  
    <!--  لو فيه أذونات -->
    <form *ngFor="let form of consumableForms; let fIndex = index" [formGroup]="form" (ngSubmit)="onSubmitForm(form)"
      class="form-container mb-5" dir="rtl">

      <header class="form-header text-center">
        <h2 class="title">طلب و إذن صرف</h2>
        <h3 class="subtitle">مستديم | مستهلك</h3>
      </header>

      <div class="info-section">
        <div class="row">
          <div class="field mb-2">
            <label>اسم الجهة :</label>
            <input type="text" formControlName="destinationName" class="input-line" readonly>
          </div>

          <div class="field mb-2">
            <label>الفئة :</label>
            <input type="text" formControlName="category" class="input-line" readonly>
          </div>
        </div>

        <div class="row">
          <div class="field mb-2 date-group">
            <label>تاريخ الطلب :</label>
            <input formControlName="requestDateGroup" type="date" class="input-line" readonly>
          </div>

          <div class="field mb-2 date-group">
            <label>التاريخ :</label>
            <input formControlName="regularDateGroup" type="date" class="input-line" readonly>
          </div>
        </div>

        <div class="row">
          <div class="field mb-2 flex-grow-1">
            <label>اسم الطالب ( المخزن / الإدارة / العامل ) :</label>
            <input type="text" formControlName="requestorName" class="input-line" readonly />
          </div>
        </div>


        <div class="row">
          <div class="field">
            <label>(*) سند الصرف :</label>
            <select formControlName="documentNumber" class="input-line">
              <option value="" disabled selected hidden>اختر السند</option>
              <option *ngFor="let condition of documentNumbers" [value]="condition">{{ condition }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="table-section mt-4">
        <table>
          <thead>
            <tr>
              <th>اسم الصنف</th>
              <th>الوحدة</th>
              <th>الكمية المطلوبة</th>
              <th>الكمية المصرح بها</th>
              <th>الكمية المنصرفة</th>
              <th>المخزن</th>
              <th>حالة الصنف (**)</th>
              <th>سعر الوحدة</th>
              <th>القيمة</th>
            </tr>
          </thead>
          <tbody formArrayName="tableData">
            <tr *ngFor="let rowGroup of getTableData(form).controls; let i = index"
                [formGroupName]="i"
                [style.animation-delay]="(i * 0.1) + 's'">
              <td>
                <input type="text" formControlName="itemSearchText" class="table-input" readonly>
                <input type="hidden" formControlName="itemName">
              </td>

              <td>
                <input type="text" formControlName="unit" class="table-input" readonly>
              </td>

              <td>
                <input type="number" min="0" formControlName="quantityRequired" class="table-input"
                       (input)="updateValue(fIndex, i)" readonly>
              </td>
              <td><input type="number" min="0" formControlName="quantityAuthorized" class="table-input"
                (input)="syncIssuedQuantity(fIndex, i); updateValue(fIndex, i)" />
              </td>
              <td>
                <input type="number" formControlName="quantityIssued" class="table-input" readonly />
              
                <!-- ❌ الصنف غير موجود -->
                <div *ngIf="rowGroup.errors?.['stockError']" class="text-danger small mt-1">
                  الصنف غير موجود في المخزن
                </div>
              
                <!-- ❌ الكمية الإجمالية غير كافية -->
                <div *ngIf="rowGroup.errors?.['exceedStock']" class="text-danger small mt-1">
                  الكمية الإجمالية المطلوبة
                  ({{ rowGroup.errors?.['exceedStock']?.required }})
                  أكبر من المتاح في المخزن
                  (المتاح: {{ rowGroup.errors?.['exceedStock']?.available }})
                </div>
              </td>

              <td>
                <input type="text" formControlName="storeType" class="table-input" readonly />
              </td>

              <td>
                <select formControlName="itemCondition" class="table-input">
                  <option value="" disabled selected hidden>الحالة</option>
                  <option *ngFor="let condition of itemConditions" [value]="condition">{{ condition }}</option>
                </select>
              </td>

              <td>
                <input type="number" min="0" formControlName="unitPrice" class="table-input"
                       (input)="updateValue(fIndex, i)">
              </td>

              <td>
                <input type="number" min="0" formControlName="value" class="table-input" readonly>
              </td>
            </tr>
          </tbody>
        </table>


      </div>

      <div class="signature-section">
        <div class="sig-item">توقيع الطالب</div>
        <div class="sig-item">كاتب الشطب</div>

        <div class="sig-item approval-box">
          <span>يصرح بالصرف مدير المخازن</span>
          <input type="text" formControlName="managerSignature" class="signature-input" readonly />
        </div>


        <div class="sig-item">تم الصرف أمين المخازن</div>
        <div class="sig-item">كاتب الشطب</div>
        <div class="sig-item">توقيع المستلم</div>
      </div>

      <div class="footnotes">
        <p>(*) كشف العجز - سند خصم - أصناف تالفة أو تالفة - محضر بيع جلب تشغيل - إهداءات ليست للنشاط الرئيسي للجهة</p>
        <p>(**) جديدة - مستعمل - قابل للإصلاح - كهنة أو خردة</p>
      </div>

      <div class="button-section">
        <button type="submit" [disabled]="isSubmitting()" class="submit-btn text-white fw-medium p-3 fs-5">
          <span *ngIf="isSubmitting()">جاري الحفظ...</span>
          <span *ngIf="!isSubmitting()">حفظ الاذن</span>
        </button>
      </div>
    </form>
  </main>
</div>

<app-footer></app-footer>
