<app-header>

</app-header>




<div class="d-flex">

<aside class="sidebar">
            <h5>مرحباً أستاذ/ة محمد أحمد</h5>
            <ul class="mt-5">
                <li><a href="/modeer1">المخزن</a></li>
                <li class="active"><a>اذن الصرف</a></li>
                <li><a href="/modeer3">مذكرات الصرف</a></li>
                <li><a href="/modeer4">اذونات الصرف</a></li>




            </ul>
</aside>

<form [formGroup]="consumableForm" (ngSubmit)="onSubmit()" class="m-auto">
<div class="form-container" dir="rtl">

    <header class="form-header">
        <h2 class="title">طلب و إذن صرف </h2>
        <h3 class="subtitle">مستديم | مستهلك</h3>
    </header>

    <div class="info-section">
        <div class="row">
            <div class="field mb-2">
                <label>اسم الجهة :</label>
                <input type="text" formControlName="destinationName" class="input-line">
            </div>
            <div class="field mb-2">
                <label>مخزن:</label>
                <input type="text" formControlName="storehouse" class="input-line">
            </div>
        </div>

        <div class="row">
              <div class="field mb-2 date-group" formGroupName="requestDateGroup">
                <label>تاريخ الطلب :</label>

                <select formControlName="dd" class="input-box date-box text-center">
                    <option value="" disabled selected hidden>DD</option>
                    @for (day of days; track day) {
                        <option [value]="day">{{ day }}</option>
                    }
                </select>
                <p class="mb-0"> / </p>

                  <select formControlName="mm" class="input-box date-box text-center">
                    <option value="" disabled selected hidden>MM</option>
                    @for (month of months; track month) {
                        <option [value]="month">{{ month }}</option>
                    }
                </select>
                <p class="mb-0"> / </p>

                <select formControlName="yy" class="input-box date-box text-center">
                    <option value="" disabled selected hidden>YY</option>
                    @for (year of years; track year) {
                        <option [value]="year">{{ year }}</option>
                    }
                </select>

            </div>

              <div class="field d-flex align-items-center mb-2 date-group" formGroupName="regularDateGroup">
                <label>التاريخ :</label>

                <select formControlName="dd" class="input-box date-box text-center">
                    <option value="" disabled selected hidden>DD</option>
                    @for (day of days; track day) {
                        <option [value]="day">{{ day }}</option>
                    }
                </select>
                <p class="mb-0"> / </p>

                <select formControlName="mm" class="input-box date-box text-center">
                    <option value="" disabled selected hidden>MM</option>
                    @for (month of months; track month) {
                        <option [value]="month">{{ month }}</option>
                    }
                </select>
                <p class="mb-0"> / </p>

                <select formControlName="yy" class="input-box date-box text-center">
                    <option value="" disabled selected hidden>YY</option>
                    @for (year of years; track year) {
                        <option [value]="year">{{ year }}</option>
                    }
              </select>
            </div>

        </div>

        <div class="row">

            <div class="field mb-2">
                <label>اسم الطالب ( المخزن / الإدارة / العامل ) :</label>
                <input type="text" formControlName="requestorName" class="input-line">
            </div>
        </div>

        <div class="row">
            <div class="field">
                <label>(*) سند الصرف :</label>
                  <select formControlName="documentNumber" class="table-input">
                                <option value="" disabled selected hidden>الحالة</option>
                                @for (condition of documentNumbers; track condition) {
                                    <option [value]="condition">{{ condition }}</option>
                                }
                  </select>
            </div>
        </div>
    </div>

    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>اسم الصنف</th>
                    <th>الوحدة</th>
                    <th>الكمية المطلوبة</th>
                    <th>الكمية المصرح بها</th>
                    <th>الكمية المنصرفة</th>
                    <th>حالة الصنف (**)</th>
                    <th>سعر الوحدة</th>
                    <th>القيمة</th>
                </tr>
            </thead>

            <tbody formArrayName="tableData">

                  @for (rowGroup of tableData.controls; track $index) {
                    <tr [formGroupName]="$index">

                        <td>
                            <select formControlName="itemName" class="table-input">
                                <option value="" disabled selected hidden>اختر</option>
                                @for (name of itemNames; track name) {
                                    <option [value]="name">{{ name }}</option>
                                }
                            </select>
                        </td>

                        <td><input type="text" formControlName="unit" class="table-input"></td>
                        <td><input type="text" formControlName="quantityRequired" class="table-input"></td>
                        <td><input type="text" formControlName="quantityAuthorized" class="table-input"></td>
                        <td><input type="text" formControlName="quantityIssued" class="table-input"></td>

                        <td>
                            <select formControlName="itemCondition" class="table-input">
                                <option value="" disabled selected hidden>الحالة</option>
                                @for (condition of itemConditions; track condition) {
                                    <option [value]="condition">{{ condition }}</option>
                                }
                            </select>
                        </td>

                        <td><input type="text" formControlName="unitPrice" class="table-input"></td>
                        <td><input type="text" formControlName="value" class="table-input"></td>
                    </tr>
                }
            </tbody>
        </table>

      <div class="row-controls">
        <button type="button" class="remove-row-button" (click)="removeRow()">-</button>
        <button type="button" class="add-row-button" (click)="addRow()">+</button>
      </div>

    </div>

    <div class="signature-section">
        <div>توقيع الطالب</div>
        <div>كاتب الشطب</div>
        <div class="d-flex flex-column">
            <div>يصرح بالصرف مدير المخازن</div>
            <input type="text">
        </div>
        <div style="white-space:no-wrap">تم الصرف أمين المخازن</div>
        <div>كاتب الشطب</div>
        <div>توقيع المستلم</div>
    </div>

    <div class="footnotes">
        <p>(*) كشف العجز - سند خصم - أصناف تالفة أو تالفة - محضر بيع جلب تشغيل - إهداءات ليست للنشاط الرئيسي للجهة</p>
        <p>(**) جديدة - مستعمل - قابل للإصلاح - كهنة أو خردة</p>
    </div>


<div class="button-section">
        <button type="submit" [disabled]="isSubmitting() || consumableForm.invalid" class="submit-btn text-white fw-medium p-3 fs-5">
            @if (isSubmitting()) {
                جاري الحفظ...
            } @else {

حفظ الاذن
            }
        </button>
    </div>

</div>

</form>

</div>


<app-footer>
</app-footer>


