<app-header></app-header>

<div class="d-flex">
  <aside class="sidebar">
    <h5>مرحباً بك</h5>
    <ul class="mt-5">
      <li><a href="/modeer1">المخزن</a></li>
      <li class="active"><a>اذن الصرف</a></li>
      <li><a href="/modeer3">مذكرات الصرف</a></li>
      <li><a href="/modeer4">اذونات الصرف</a></li>
    </ul>
  </aside>

  <div class="forms-container m-auto">
    <!-- Loop على كل فورم في القائمة -->
    <form *ngFor="let form of consumableForms; let fIndex = index" [formGroup]="form" (ngSubmit)="onSubmitForm(form)"
      class="form-container mb-5" dir="rtl">

      <!-- رأس الفورم -->
      <header class="form-header">
        <h2 class="title">طلب و إذن صرف</h2>
        <h3 class="subtitle">مستديم | مستهلك</h3>
      </header>

      <!-- البيانات المشتركة -->
      <div class="info-section">
        <div class="row">
          <div class="field mb-2">
            <label>اسم الجهة :</label>
            <input type="text" formControlName="destinationName" class="input-line" readonly>
          </div>

          <div class="field mb-2">
            <label>الفئة :</label>
            <input type="text" formControlName="category" class="table-input" readonly>
          </div>
        </div>

        <div class="row">
          <div class="field mb-2 date-group">
            <label>تاريخ الطلب :</label>
            <input formControlName="requestDateGroup" type="date" readonly>
          </div>

          <div class="field d-flex align-items-center mb-2 date-group">
            <label>التاريخ :</label>
            <input formControlName="regularDateGroup" type="date">
          </div>
        </div>

        <div class="row">
          <div class="field mb-2">
            <label>اسم الطالب ( المخزن / الإدارة / العامل ) :</label>
            <input type="text" formControlName="requestorName" class="input-line" readonly>
            <div *ngIf="form.get('requestorName')?.invalid && form.get('requestorName')?.touched"
              class="text-danger mt-1 text-end small">
              يجب إدخال الاسم كاملاً (4 كلمات).
            </div>
          </div>
        </div>

        <div class="row">
          <div class="field">
            <label>(*) سند الصرف :</label>
            <select formControlName="documentNumber" class="table-input">
              <option value="" disabled selected hidden>اختر السند</option>
              <option *ngFor="let condition of documentNumbers" [value]="condition">{{ condition }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- الجدول -->
      <div class="table-section">
        <table>
          <thead>
            <tr>
              <th>اسم الصنف</th>
              <th>الوحدة</th>
              <th>الكمية المطلوبة</th>
              <th>الكمية المصرح بها</th>
              <th>الكمية المنصرفة</th>
              <th>المخزن</th>
              <th>حالة الصنف (**)</th>
              <th>سعر الوحدة</th>
              <th>القيمة</th>
            </tr>
          </thead>
          <tbody formArrayName="tableData">
            <tr *ngFor="let rowGroup of getTableData(form).controls; let i = index" [formGroupName]="i">
              <td>
                <input type="text" formControlName="itemSearchText" class="table-input" readonly>
                <input type="hidden" formControlName="itemName">
              </td>

              <td>
                <input type="text" formControlName="unit" class="table-input">
              </td>

              <td>
                <input type="number" min="0" formControlName="quantityRequired" class="table-input"
                  (input)="updateValue(fIndex, i)">
              </td>
              <td><input type="number" min="0" formControlName="quantityAuthorized" class="table-input"></td>
              <td><input type="number" min="0" formControlName="quantityIssued" class="table-input"
                  (input)="updateValue(fIndex, i)"></td>

              <td>
                <select formControlName="storeType" class="table-input">
                  <option value="" disabled selected hidden>اختر النوع</option>
                  <option *ngFor="let type of storeTypes" [value]="type">{{ type }}</option>
                </select>
              </td>

              <td>
                <select formControlName="itemCondition" class="table-input">
                  <option value="" disabled selected hidden>الحالة</option>
                  <option *ngFor="let condition of itemConditions" [value]="condition">{{ condition }}</option>
                </select>
              </td>

              <td>
                <input type="number" min="0" formControlName="unitPrice" class="table-input"
                  (input)="updateValue(fIndex, i)">
              </td>

              <td>
                <input type="number" min="0" formControlName="value" class="table-input">
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row-controls">
          <div class="row-controls">
            <button type="button" class="remove-row-button" (click)="removeRowFromForm(form)">-</button>
            <button type="button" class="add-row-button" (click)="addRowToForm(form)">+</button>
          </div>

        </div>
      </div>

      <!-- التواقيع -->
      <div class="signature-section">
        <div class="sig-item">توقيع الطالب</div>
        <div class="sig-item">كاتب الشطب</div>

        <div class="sig-item approval-box">
          <span>يصرح بالصرف مدير المخازن</span>
          <input type="text" formControlName="managerSignature" class="signature-input">
          <div *ngIf="form.get('managerSignature')?.invalid && form.get('managerSignature')?.touched"
            class="error-text">
            الاسم كاملاً مطلوب.
          </div>
        </div>

        <div class="sig-item">تم الصرف أمين المخازن</div>
        <div class="sig-item">كاتب الشطب</div>
        <div class="sig-item">توقيع المستلم</div>
      </div>

      <div class="footnotes">
        <p>(*) كشف العجز - سند خصم - أصناف تالفة أو تالفة - محضر بيع جلب تشغيل - إهداءات ليست للنشاط الرئيسي للجهة</p>
        <p>(**) جديدة - مستعمل - قابل للإصلاح - كهنة أو خردة</p>
      </div>

      <div class="button-section">
        <button type="submit" [disabled]="isSubmitting()" class="submit-btn text-white fw-medium p-3 fs-5">
          <span *ngIf="isSubmitting()">جاري الحفظ...</span>
          <span *ngIf="!isSubmitting()">حفظ الاذن</span>
        </button>
      </div>

    </form>
  </div>
</div>

<app-footer></app-footer>