*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

/* The parent container needs to be a flex column */
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* This targets your main sections */
/* On Home (no footer), it fills 100% height */
/* On Login (with footer), it pushes footer to bottom */
.login-container,
.home-page-container,

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Standard Desktop */
.paper {
  width: 800px;
}


/* Custom Scrollbar for the table */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

/* The Modern Gray Icon Style */
.empty-icon {
    font-size: 5rem;
    color: var(--primary-color);
    opacity: 0.3;      /* Makes it look subtle/modern */

    margin: 0 auto;
}

/* Small Laptop / Tablet (Your laptop) */
@media (max-width: 1200px) {
  .paper {
    width: 90% !important;
    margin: 10px auto;
  }
  .field {
    flex-direction: column;
  }
}

:root {
  --primary-color:#084667;
  --secondary-color:#1693B3;
  --third-color:#F9B938;
  --grey-color:#A5A5A5;
  --black-color:#000000;
  --white-color:#FFFFFF;
  --bg-light: #f4f7f6;
  --font-arabic: "Tajawal", sans-serif;
}

body {
  font-family: var(--font-arabic) !important;
}
