<app-header></app-header>

<div class="page-container">
  <aside class="sidebar">
    <h5>
      مرحبًا بك
      <span *ngIf="displayName">، {{ displayName }}</span>
    </h5>
    <ul class="mt-5">
      <li><a href="/ameen1">المخزن</a></li>
      <li><a href="/ameen2">دفتر اليومية</a></li>
      <li><a href="/ameen3">أذونات الصرف</a></li>
      <li><a href="/ameen4">دفاتر اليومية</a></li>
      <li class="active"><a>مخزنك</a></li>
    </ul>
  </aside>

  <main class="content">
    <div class="table-container" dir="rtl">
      <h2 class="mb-4 fw-bold text-center" style="color: var(--primary-color);">
        عرض مخزنك
      </h2>

      <!-- 🔹 فلترة حسب الفئة -->
      <div class="mb-4 text-end">
        <label class="form-label fw-medium">اختر الفئة:</label>
        <select
          class="form-select w-50 "
          [(ngModel)]="selectedCategory"
          (change)="filterByCategory()"
        >
          <option value="">الكل</option>
          <option *ngFor="let cat of categories" [value]="cat">
            {{ cat }}
          </option>
        </select>
      </div>

      <table class="custom-3d-table text-center">
        <thead>
          <tr>
            <th>الفئة</th>
            <th>الصنف</th>
            <th>حالة الصنف</th>
            <th>الوحدة</th>
            <th>العدد</th>
          </tr>
        </thead>

        <tbody>
          @if (filteredStocks.length === 0) {
            <tr>
              <td colspan="5">لا توجد بيانات متوفرة</td>
            </tr>
          }
          @else {
            @for (stock of filteredStocks; track stock.id) {
              <tr>
                <td>{{ stock.category }}</td>
                <td>{{ stock.itemName }}</td>
                <td>{{ stock.storeType }}</td>
                <td>{{ stock.unit }}</td>
                <td>{{ stock.quantity }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </main>
</div>

<app-footer></app-footer>
